{% extends 'base.html.twig' %}

{% block pageContent %}
	{% block headerContent %}
		<div class="d-flex flex-column align-items-center m-2">

			<img class="navbar-brand nav-link m-0" src="{{ asset('img/logo_pixelmarket/symbol_pixelmarket-blue.png')}}" class="card-img" alt="">
			<p class="lead text-center">À vos marques, prêts? Geekeur, à vos échanges !</p>
		</div>
		<hr class="my-4"/>
	{% endblock %}
	<div class="d-flex justify-content-center">
		{% include 'security/_login-form.html.twig' %}
	</div>
{% endblock %}
