{% extends 'base.html.twig' %}
{% block title %}Log in!
{% endblock %}
{% block
headerContent %}

    <div class="d-flex flex-column align-items-center m-2">
        <h1 class="display-4">
            <span class="text-blue">pixel</span>
            <span class="text-green">market</span>
        </h1>
        <p class="lead">À vos marques, prêts? Geekeur, à vos échanges !</p>
    </div>
    <hr class="my-4"/>
{% endblock %}

{% block pageContent %}
    <div class="d-flex justify-content-center">
        {% include 'security/_login-form.html.twig' %}
    </div>
{% endblock %}
