{% extends 'base.html.twig' %}

{% block pageContent %}

    <div class="card align-items-center bg-img">
        <div class="container">
            <div id='register-title'>
                <h1 class="display-4 register-title">
                    <span class="text-blue">Je crée</span>
                    <span class="text-white">mon profil</span>
                </h1>
                <p class="lead">À vos marques, prêts? Geekeur, à vos échanges !</p>
            </div>
            <hr class="my-4 bg-white"/>
        </div>

        <div id="register" class="card-body col-7 bg-light my-4">
            {% include 'registration/_register-form.html.twig' %}
        </div>
    </div>

{% endblock %}
