{% extends 'base.html.twig' %}

{% block headerContent %}
    <div class="d-flex flex-column align-items-center m-2">
        <h1> Je créer mon profil </h1>
    </div>
{%  endblock %}

  {% block pageContent %}
    <div>
    <div class="card align-items-center">
        <div class="card-body col-6 bg-green">
            {% include 'registration/register.html.twig' %}
        </div>
    </div>

{% endblock %}
