{% extends 'base.html.twig' %}
{% block pageContent %}

	<div class="card align-items-center bg-img">
		<div class="container-fluid">
			<div class="form-title-container mt-4">
				<h1 class="display-4 d-flex flex-column form-title text-center">
					<span class="text-blue">Créer un profil</span>
				</h1>
				<p class="lead text-center">À vos marques, prêts? Geekeur, à vos échanges !</p>
			</div>
			<hr class="my-4 bg-blue"/>
		</div>
		<div id="register" class="card-body col-7 bg-white my-4">
			{% include 'registration/_register-form.html.twig' %}
		</div>
	</div>

{% endblock %}
