/* DE 1024 à l'infini */
@media only screen and (min-width: 1025px) {
  /* For desktop: */
  #page-side-content {
    margin: 50px;
  }

  div#hamburger,
  div.profile-card {
    display: none !important;
  }

  div#hamburger-content {
    display: flex;
    position: initial !important;
    justify-content: baseline;
    margin: 0.3em;
  }
  div#hamburger-content {
    margin-right: 7em;
    width: 100%;
  }
  nav#navbar {
    padding: 0.55rem 1rem;
  }
  #toogle-sign {
    display: inline;
  }
}

/* DE 768 à l'infini */
@media only screen and (min-width: 768px) {
  nav.navbar {
    position: initial;
  }

  nav a {
    margin-right: auto;
  }

  div#hamburger-content {
    margin-right: 10em;
    width: 100%;
  }

  form.formSignIn {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* -------- DE 470 à l'infini ---------- */
@media only screen and (min-width: 470px) {
  #hamburger-sidebar {
    width: 400px;
  }
  #burger-cross {
    position: absolute;
    font-size: 2em;
    color: white;
    left: 420px;
  }
}

/* DE 0 à 1024px*/
@media screen and (max-width: 1024px) {
  #base-sidebar,
  #side-menu,
  #symbol-logo,
  #navbar form,
  #hamburger-content,
  #navbar #toogle-sign {
    display: none;
  }

  #hamburger-button,
  #hamburger-sidebar,
  .hamburger-activated #hamburger-overlay {
    display: block;
  }

  .hamburger-activated #hamburger-sidebar {
    transform: translateX(0);
  }

  input[type="checkbox"]:checked {
    border-color: #fff;
    border-width: 3px;
    position: fixed;
  }

  .avatar-img {
    width: 70px;
    height: 70px;
  }
}

/* -------- DE 768 à 1024 ---------- */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  div#hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #navbar #hamburger {
    order: 1;
  }
  #navbar h1 {
    order: 2;
    margin: auto;
  }
}

/*--------- DE 0 à 768px ----------*/
@media only screen and (max-width: 767px) {
  nav#navbar form,
  li#profileNavbar,
  a#navbarDropdown,
  #hamburger-content {
    display: none;
  }

  .register-title {
    font-size: 8vw;
  }
  nav#navbar h1 {
    margin: auto;
  }
  nav#navbar #hamburger {
    justify-content: flex-end;
  }
  nav#navbar {
    flex-direction: row-reverse;
  }
}

/* -------- DE 600 à 768 ---------- */
@media screen and (min-width: 600px) and (max-width: 768px) {
  #post,
  #register {
    -ms-flex: 0 0 83.3333%;
    flex: 0 0 83.3333%;
    max-width: 83.3333%;
  }
}

/* -------- DE 0 à 600 ---------- */
@media only screen and (max-width: 600px) {
  /* For mobils: */
  #post,
  #register {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  #post-list li {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .card-price {
    font-size: 16px;
  }
}

/* -------- PAYSAGE ---------- */

/* -------- PAYSAGE + de 470 à l'infini---------- */

@media only screen and (orientation: landscape) {
}
