:root {
  --blue: #004a71;
  --green: #4ee1af;
  --green-light: #eefffd;
  --grey: #6c757d;
  --grey-light: #b1b1b1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--blue);
  box-shadow: 0 0 0px 1000px var(--green-light) inset;
  -webkit-box-shadow: 0 0 0px 1000px var(--green-light) inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* ------- GENERAL -------- */

#page-side-content {
  display: flex;
  flex-direction: row;
}

.tiny-text {
  font-size: 0.8em;
}

/* ------- COLOR -------- */
* {
  color: var(--blue);
}
.bg-blue {
  background-color: var(--blue);
}
.text-blue {
  color: var(--blue) !important;
}
.bg-green {
  background-color: var(--green) !important;
}
.text-green {
  color: var(--green) !important;
}

/* ------- BUTTON -------- */

.btn-green,
.btn-white {
  display: block;
  text-align: center;
  width: max-content;

  border-radius: 50rem !important;
  padding: 0.25em 1.5em 0.25em 1.5em;

  cursor: pointer;
}

.btn-green {
  border: 0.5px solid transparent;

  background-color: var(--green) !important;
  color: var(--blue) !important;
}

.btn-white {
  border: 0.5px solid var(--blue);

  background-color: white !important;
  color: var(--blue) !important;
}

.btn-green:hover {
  background-color: white !important;
  border: 0.5px solid var(--blue);

  transition: all 0.2s ease;
}

.btn-white:hover {
  background-color: var(--green) !important;
  color: var(--blue) !important;

  transition: all 0.2s ease;
}

.btn-white:hover,
.btn-green:hover,
.btn-green:focus,
.btn-white:focus {
  text-decoration: none;
}

.btn-white.disabled,
.btn-green.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}

/* ------- NAVBAR -------- */

#navbar .top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  transition: all 0.3s ease;
}

/* ------- SEARCH-BAR -------- */

.search::placeholder {
  color: white !important;
}

.search-bar {
  width: 30%;
}
.search-bar input {
  border: 0.5px solid white;
}
/* ------- LOGIN-FORM -------- */

.login-btn {
  display: flex;
  flex-direction: column;
}
.login-btn button,
.formSignIn input {
  border-radius: 50rem;
}
/* ------- REGISTER-FORM -------- */

.bg-img {
  background: linear-gradient(rgba(78, 225, 175, 1), rgba(76, 153, 158, 1));

  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

#avatars {
  display: flex;
}

#avatars .avatar-auto {
  display: block;
  width: 5em;
  height: 5em;

  border-radius: 50%;
  margin: 1em;

  cursor: pointer;
}

#avatar_1,
#avatar_2,
#avatar_3,
#avatar_4 {
  opacity: 0.8;
}
#avatar_1:hover,
#avatar_2:hover,
#avatar_3:hover,
#avatar_4:hover {
  opacity: 1;
}

#avatar_1 {
  background: url(../img/icons_avatars/avatar-red.png) center;
}
#avatar_2 {
  background: url(../img/icons_avatars/avatar-green.png) center;
}
#avatar_3 {
  background: url(../img/icons_avatars/avatar-blue.png) center;
}
.avatar_4 {
  background: url(../img/icons_avatars/avatar-pix.png) center;
}

.hidden {
  display: none;
  overflow: hidden;
  position: absolute;
}

li.categorie-burger input,
li.categorie-burger input:checked {
  margin-left: auto;
}

/* --------- PROFILE-CARD --------- */

#stars {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.star {
  width: 20px;
  height: 20px;
  margin: 2px;
}
.star-empty svg#Capa_1 {
  fill: white;
  stroke: black;
  stroke-width: 2;
}

/* --------- POST-CARD --------- */

.card-post-container {
  text-decoration: none;
}

.card-bottom {
  position: absolute;
  bottom: 0;
  transform: translate3d(0%, -100%, 0);
  -webkit-transform: translate3d(0%, -100%, 0);
}

.card-bottom-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  height: 5rem;
  /* transparent 80% */
  background-color: rgba(255, 255, 255, 0.8) !important;
  padding: 1px;
}

.card-price,
.price {
  display: block;
  text-align: center;
  -webkit-text-align: center;

  border-radius: 50rem !important;
  padding: 0.1em 0.75em;
}

.card-price {
  position: absolute;
  bottom: 0;
  left: 50%; /* à 50% du parent référent (référencé grace à position:relative) */
  transform: translate3d(-50%, 50%, 0);
  -webkit-transform: translate3d(-50%, 50%, 0);

  background-color: var(--blue) !important;
  color: white !important;
  font-size: 18px;
}

.price {
  background-color: var(--blue) !important;
  color: white !important;
  width: max-content;
}

/* --------- FORM-POST --------- */

div.custom-file {
  width: 100px;
  height: 100px;

  border: 0.1px solid var(--grey-light);

  background: var(--grey-light);

  background-size: cover;
  background-attachment: fixed;
}

.custom-file-input {
  height: 100%;
  cursor: pointer;
}
/* ------------------ */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 32px;
}

.post-card-data {
  margin: 0 8px;
}

.post-header {
  display: flex;
}

.post-header h5 {
  flex: 1;
}

.post-id {
  /*align-self: center;*/
  color: #c4c4c4;
}

.post-author {
  display: flex;
  align-items: center;
}

.post-author img {
  width: 50px;
  height: 50px;
  margin-right: 16px;
}

.post-comments {
  padding-left: 32px;
}

.post-comments h5 {
  font-size: 16px;
}

.avatar-img {
  border: 1px solid black;
  width: 120px;
  height: 120px;
  border-radius: 50%;

  margin-right: 8px;
}

.liked {
  color: #de1a15;
}

.random-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#random {
  font-weight: bold;
  font-size: 40px;
}

#roll {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 40px;
  min-width: 160px;
}

/*
Exemple de CSS pour l'état de chargement du bouton
*/

#roll .btn-content {
  display: block;
}

#roll .spinner-border {
  display: none;
}

#roll.is-loading .btn-content {
  display: none;
}

#roll.is-loading .spinner-border {
  display: block;
}

#alert {
  display: none;
  margin-top: 32px;
}

#notification-container {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 2;
}

#notification-container .alert:last-child {
  margin-bottom: 0;
}

.post-pagination {
  margin: 32px;
}

.card.loader {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 32px;
}

#global {
  position: absolute;
  z-index: -10;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../images/background.png) center;
  background-size: cover;
}
