:root {
  --green: #4ee1af;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  cursor: pointer;
}

input[type="checkbox"] {
  background: var(--green);

  height: 20px;
  width: 20px;
  border-radius: 80%;
  box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.2) !important;
  border: 10px solid #fff !important;
  box-sizing: border-box;
  transition: border 0.3s ease;
}

input[type="checkbox"]:checked {
  background-color: var(--green) !important;
  border-color: #fff !important;
  border-width: 3px !important;
}
input[type="checkbox"]:focus {
  outline: none;
}
