nav,
li {
  display: inline-block;
}
li a,
.button {
  text-decoration: none;
  color: #333;
}

.button {
  text-transform: uppercase;
  float: right;
  margin-top: -16px;
  line-height: 84px;
  height: 84px;
  text-decoration: none;
  padding: 0 16px;
}

.button-sign-up {
  background-color: #eee;
}

#hamburger li {
  margin-left: 32px;
}
#hamburger,
#hamburger-content {
  display: inline;
  flex-direction: row-reverse;
}

#hamburger-button {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 30px;
  vertical-align: top;
  padding: 0;
  line-height: 47px;
  float: left;
  margin-left: 32px;
  color: white;
}

#hamburger-overlay {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#hamburger-sidebar {
  display: none;
  position: fixed;
  width: 84%;
  z-index: 20;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform 0.2s ease-out;
}

#hamburger-sidebar li {
  display: block;
}

#hamburger-sidebar-header {
  background: url(../img/fonds/fond_pixelmarket_annonce.png) center;
  background-size: cover;
  height: 128px;

  display: flex;
  align-items: center;
  justify-content: center;
}

ul#signInUp li,
ul#infos-burger li {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.icons {
  height: 1.5em;
  width: 1.5em;
  margin: 0.5em;
}

li.categorie-burger {
  display: flex !important;
  flex-direction: row;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: column;
}
#hamburger-sidebar-body {
  padding: 16px 8px;
}

ul#categories-burger {
  margin: 0.5em;
}

#hamburger-sidebar-body li:after {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 4px;
  margin-right: 16px;
  width: 24px;
  height: 24px;
}
#hamburger-sidebar-body .button {
  margin-top: 16px;
  text-align: center;
  float: none;
  display: block;
  height: auto;
  line-height: inherit;
  padding: 10px;
}

#infos-burger {
  display: flex;
  flex-direction: column;
}

#burger-cross {
  position: absolute;
  font-size: 2em;
  color: white;
  right: 25px;
  cursor: pointer;
}
