{% if user.posts is not empty %}
    <div class="container-fluid">
        {% include 'post/index.html.twig'  %}
    </div>
{% else %}
    <h5>
        {{ user.username }}
        n'a rien publié pour le moment !
    </h5>
{% endif  %}
