<div class="menu" id="mes-favories">
    <p class="menu-price">Mes favories</p>

    {% if user.posts is not empty %}

        {% include 'post/index.html.twig'  %}

    {% else %}
        <h5>
            {{ user.username }}
            n'a rien publié pour le moment !
        </h5>
    {% endif  %}

</div>
