<div class="container">
    <nav id="profil-nav">
        <ul>
            <li><a href="#" class="active" data-menu="mes-annonce">Mes annonces</a></li>
            <li><a href="#" data-menu="mes-favories">Mes favories</a></li>
            <li><a href="#" data-menu="mes-infos">Mes infos</a></li>
        </ul>
    </nav>


</div>
