<div class="container-fluid">
    <nav id="profile-nav">
        <ul>
            <li><a href="#annonces" class="active" data-menu="mes-annonce">Mes annonces</a></li>
            <li><a href="#favories" data-menu="mes-favories">Mes favories</a></li>
            <li><a href="#infos" data-menu="mes-infos">Mes infos</a></li>
        </ul>
    </nav>
</div>
