{% extends 'base.html.twig' %} {% block pageContent %} {% block headerContent %}
<div class="d-flex flex-column align-items-center m-2">
  <h1 class="display-4">
    <span class="text-blue">pixel</span>
    <span class="text-green">market</span>
  </h1>
  <p class="lead">Espace Administrateur !</p>
</div>
<hr class="my-4" />
{% endblock %}

<!-- LES NOUVEAUX POSTS -->
<h2>LES NOUVEAUX POSTS</h2>
<div class="container-fluid">
  <div class="row">
    {% for post in posts %}
    <li class="appear-animation col-sm-3 p-1">
      {% include 'post/card.html.twig' %}
    </li>
    {% endfor %}
  </div>
</div>
<a
  id="next"
  class="page-link btn-primary"
  href="{{ path('admin', {}) }}"
  aria-label="Next"
>
  <span aria-hidden="true">
    + voir plus d'articles
  </span>
</a>

<!-- LES NOUVEAUX UTILISATEURS -->
<div class="container-fluid">
  <h2>LES NOUVEAUX UTILISATEURS</h2>
  <div class="row">
    {% for user in users %} {% include 'user/_profile-card.html.twig' %} {%
    endfor %}
  </div>
</div>
<a
  id="next"
  class="btn btn-danger page-link"
  href="{{ path('admin', {}) }}"
  aria-label="Next"
>
  <span aria-hidden="true">
    + voir plus d'articles
  </span>
</a>

<!-- TOUS LES POSTS -->
<div class="container-fluid">
  <h2>TOUS LES POSTS</h2>
  <div class="row">
    {% for post in posts %}
    <li class="appear-animation col-sm-3 p-1">
      {% include 'post/card.html.twig' %}
    </li>
    {% endfor %}
  </div>
</div>
<a
  id="next"
  class="page-link btn btn-primary"
  href="{{ path('admin', {}) }}"
  aria-label="Next"
>
  <span aria-hidden="true">
    + voir plus d'articles
  </span>
</a>

<!-- TOUS LES USER -->
<div class="container-fluid">
  <h2>TOUS LES USERS</h2>
  <div class="row">
    {% for user in users %} {% include 'user/_profile-card.html.twig' %} {%
    endfor %}
  </div>
</div>
<a id="next" class="page-link" href="{{ path('admin', {}) }}" aria-label="Next">
  <span aria-hidden="true">
    + voir plus d'articles
  </span>
</a>

{% endblock %}
