{% extends 'base.html.twig' %}


{% block pageContent %}

	{% block headerContent %}
		<div class="d-flex flex-column align-items-center m-2">
			<img class="navbar-brand nav-link m-0" src="{{ asset('img/logo_pixelmarket/symbol_pixelmarket-blue.png')}}" class="card-img" alt="">
			<p class="lead">Modification de l'utilisateur #{{ user.id }}
				!</p>
		</div>
		<hr class="my-4"/>
	{% endblock %}

	<div class="card align-items-center">
		<div id="register" class="card-body col-7 bg-white my-4">
			{% include 'user/_edit-form.html.twig' %}
		</div>
	</div>

{% endblock %}
