<footer class="bg-blue container-fluid p-4 mt-5">
	<ul class="container-fluid d-flex flex-row justify-content-around align-items-center">
		<li>
			<a class="text-white" href="#">Accueil</a>
		</li>
		<li>
			<a class="text-white" href="#">Cookies</a>
		</li>
		<li>
			<a class="text-white" href="#section-rooms">FAQ</a>
		</li>
		<li>
			<a class="text-white" href="#section-rooms">Infos Pratiques</a>
		</li>
		<li>
			<a class="text-white" href="#">Termes & Conditions</a>
		</li>
		<li class="d-flex flex-column align-items-center">
			<a class="text-white" href="">Suivez-nous</a>
			<div class="socials-container">
				<a href="" class="social-link">
					<i class="fab fa-facebook-f text-white"></i>
				</a>
				<a href="" class="social-link">
					<i class="fab fa-twitter text-white"></i>
				</a>
				<a href="" class="social-link">
					<i class="fab fa-instagram text-white"></i>
				</a>
			</div>
		</li>
	</ul>
	<HR size="2" align="center" width="100%" color="white">
	<div class="text-white">
		PIXELMARKET 2019 - Tous droits réservés
	</div>
</footer>
