{% extends 'base.html.twig' %}

{% block title %} PixelMarket {% endblock %} 

{% block headerContent %} {% endblock %} 

{% block sidebarContent %}
	<div class="container p-2">
		<div id="side-menu">
			{% include 'navbar/_nav-content.html.twig'%}
		</div>
	</div>
{% endblock %} 

{% block flash %}{% endblock %} 

{% block mainContent %}

	<!-- <p class="lead">{{ 'posts.count' }} nouveaux posts aujourd'hui</p> -->

	{% include 'post/index.html.twig' %}

	<div class="container-fluid">
		<div class="row">
			{% include 'pagination.html.twig' %}
		</div>
	</div>

{% endblock %}
