{% extends 'base.html.twig' %}

{% block title %}
    pixelmarket
{% endblock %}

{% block headerContent %}{%  endblock %}

{% block sidebarContent %}
    <div class="container p-2">
        <div id="side-menu">
            {% include 'navbar/_nav-content.html.twig'%}
        </div>
    </div>
{% endblock %}

{% block flash %}{% endblock %}

{% block mainContent %}
    <div class="container">
        <p class="lead">32 nouveaux posts aujourd'hui</p>
        {% include 'post/index.html.twig' %}
    </div>
{% endblock %}
{#
    <div class="row">
        <div class="col">
            {% include 'post/pagination.html.twig' %}
        </div>
    </div>
    {% block javascripts %}
    
        {{ parent() }}
    
        <!-- // <script src="{{ asset('js/like.js') }}"></script> -->
    
    {% endblock %}
    #}
