<nav id="navbar" class="bg-blue navbar m-0">


    <h3>
        <a class="" href="{{ path('home') }}">
            <img class="navbar-brand nav-link m-0" src="/docs/4.3/assets/brand/bootstrap-solid.svg" class="d-inline-block align-top" alt="">
            <span class="text-white">pixel</span>
            <span class="text-green">market</span>
        </a>
    </h3>

    <form class="search-bar">
        <input class="search form-control mr-sm-2 w-100 rounded-pill border-light bg-secondary  text-white" type="search" placeholder="Search" aria-label="Search">
    {# TODO ENLEVER LE BOUTON ? #}
        {# <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> #}
    </form>

    <div class="bg-blue" id="hamburger">
        {% include '_navbar-burger.html.twig'%}
    </div>

</nav>
