<nav aria-label="posts pagination" class="post-pagination" id="pagination">
	<ul class="pagination d-flex justify-content-center">
		<li class="page-item {{ pagination.current < pagination.max ? " " : " disabled" }}">
			<a id="next" class="page-link" href="{{ path('home', {'cat' : cat, 'p': pagination.current + 1}) }}" aria-label="Next">
				<span aria-hidden="true">
					+ voir plus d'articles
				</span>
			</a>
		</li>
	</ul>
</nav>
