{% extends 'base.html.twig' %} {% block title %} PixelMarket {% endblock %} {%
block sidebarContent %}{% endblock %} {% block pageContent %}

{{ form_start(search_form) }}
{{ form_end(search_form) }}

<p class="lead">Voici les resultats :</p>
<div id="results_search">
  {% if posts is not empty %}
  <div class="container-fluid">
    {% include 'post/index.html.twig' %}
  </div>
  {% else %} {% block headerContent %}
  <div class="d-flex flex-column align-items-center m-2">
    <h1 class="display-4 m-5 d-flex flex-column align-items-center">
      <span class="text-blue">oh! :(</span><br />
      <span class="text-green">Aucun post n'a été trouvé !</span>
    </h1>
  </div>
  <hr class="my-4" />
  {% endblock %} {% endif %}
</div>

{# {% include 'post/index.html.twig' %} #} {#
<div class="container-fluid">
  <div class="row">
    {% include 'pagination.html.twig' %}
  </div>
</div>
#} {% endblock %}
