{% extends 'base.html.twig' %}

{% block pageContent %}

	<div class="card align-items-center bg-img">

		{% block headerContent %}

			<div class="container-fluid">
				<div class="d-flex flex-column align-items-center m-2">
					<h1 class="display-4 d-flex flex-column form-title text-blue">
						<span>Créer une annonce</span>
					</h1>
					<p class="lead">
						<span>À vos marques, prêts ?</span>
						<span>À vos échanges !</span>
					</p>
				</div>
				<hr class="my-4 bg-white"/>
			</div>
		{% endblock %}

		<div id="post" class="card-body col-7 bg-white my-4">
			{% include 'post/_form.html.twig' %}
		</div>

	</div>

{% endblock %}
