{% extends 'base.html.twig' %} {% block title %} Page 500 {% endblock %} {%
block mainContent %}
<h2>
  Le contenu que vous chercher n'existe pas
</h2>

<a href="{{ path('home') }}" class="btn btn-block btn-green">
  Revenir à l'accueil
</a>
{% endblock %}
