<div class="d-flex flex-column align-items-center mt-4">

    <img class="avatar-img" src="{{ asset('' ~ post.author.avatar) }}" alt="" '>
    <div class="">{{ post.author.username }}</div>
    <p>Avis 4/5</p>
    <p>* * * * *</p>

</div>
