{% extends 'base.html.twig' %}
{% block title %}
    Profil de
    {{ user.username }}
{% endblock %}

{% block mainContent %}
    {% if user.posts is not empty %}
        <div class="container-fluid">
            {% include 'post/index.html.twig' with {'posts' : user.posts} %}
        </div>
    {% else %}
        <h5>
            {{ user.username }}
            n'a rien publié pour le moment !
        </h5>
    {% endif  %}
{% endblock %}

{% block sidebarContent %}

    <div class="container p-2">
        <div id="side-menu">
            <a href="{{ path('home')}}" class="btn btn-block btn-green">
                Revenir à l'accueil
            </a>

            {% include 'user/_profile-card.html.twig' with {'user' : user}%}

            {% if app.session.start is empty %}

                {% if user.id == app.user.id %}
                    <div class="card mt-4">
                        <div class="card-body">
                            include new post ;)
                        </div>
                    </div>
                {% endif %}
            {% endif %}

        </div>
    </div>
{% endblock %}
