{% extends 'base.html.twig' %} {% block mainContent %}
<div class="profile-card d-flex flex-column align-items-center mt-3">
  {% include 'user/_profile-card.html.twig' with { 'user' : user }%}
</div>

{% if user.posts is not empty %}
<div id="post-list" class="container-fluid">
  {% include 'post/_list_posts.html.twig' with {'posts' : user.posts} %}
</div>
{% else %}
<h4>
  {{ user.username }}
  n'a rien publié pour le moment !
</h4>
{% endif %} {% endblock %} {% block sidebarContent %}

<div class="container">
  <div id="side-menu">
    <div class="d-flex flex-column align-items-center">
      <div class="d-flex flex-column align-items-center mt-4">
        {% include 'user/_profile-card.html.twig' with {'user' : user}%}
      </div>
      {% include 'user/_btn2-profile-card.html.twig' with { 'user' : user }%} {%
      if app.user is not empty %} {% if user.id == app.user.id %}
      <div class="d-flex flex-column align-items-center mt-4">
        <a href="{{ path('home') }}" class="btn btn-block btn-green">
          Revenir à l'accueil
        </a>
      </div>
      {% endif %} {% endif %}
    </div>
  </div>
</div>
{% endblock %}
