{% extends 'base.html.twig' %}

{% block headerContent %}
    <div class="d-flex flex-column align-items-center m-2">
        <h1> Je créer mon profil </h1>
    </div>
{%  endblock %}

  {% block pageContent %}
      {# {% if error %}
        <div class="alert alert-danger">
            <ul class="list-unstyled mb-0">
                <li><span class="initialism form-error-icon badge badge-danger">Error</span>
                    <span class="form-error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                </li>
            </ul>
        </div>
    {% endif %} #}
    <div>
        <div class="card align-items-center">
            <div class="card-body col-6 bg-green">
                {% include 'user/_profile-form.html.twig' %}
            </div>
        </div>

{% endblock %}
