{% extends 'base.html.twig' %}
{% block title %}
    Profil de
    {{ user.username }}
{% endblock %}

{% block pageContent %}
    <div class="section-background">
        <div class="container-fluid h-100">
            {% include 'user/navbar/_navbar.html.twig'%}
            <div class="menus-container">
                {% include 'user/navbar/_annonce-profile.html.twig' with { 'posts' : user.posts }%}
                {% include 'user/navbar/_favories-profile.html.twig' with { 'posts' : user.posts }%}
                {% include 'user/navbar/_infos-profile.html.twig' with { 'user' : user }%}
            </div>
        </div>
    {% endblock %}
