{% extends 'base.html.twig' %}
{% block title %}
    Profil de
    {{ user.username }}
{% endblock %}

{% block mainContent %}
    <div class="profile-card d-flex flex-column align-items-center">

        {% include 'user/_btn1-profile-card.html.twig' with { 'user' : user }%}

        {% include 'user/_profile-card.html.twig' with { 'user' : user }%}

    </div>

    {% if user.posts is not empty %}
        <div class="container-fluid">
            {% include 'post/index.html.twig' with {'posts' : user.posts} %}
        </div>
    {% else %}
        <h5>
            {{ user.username }}
            n'a rien publié pour le moment !
        </h5>
    {% endif  %}
{% endblock %}

{% block sidebarContent %}

    <div class="container">
        <div id="side-menu">
            <div class="d-flex flex-column align-items-center">
                <div class="d-flex flex-column align-items-center mt-4">
                    {% include 'user/_profile-card.html.twig' with {'user' : user}%}
                </div>
                {% include 'user/_btn2-profile-card.html.twig' with { 'user' : user }%}

                {% if app.session is not empty %}

                    {% if user.id == app.user.id %}
                        <div class="d-flex flex-column align-items-center mt-4">

                            <a href="{{ path('home')}}" class="btn btn-block btn-green">
                                Revenir à l'accueil
                            </a>

                        </div>
                    {% endif %}
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
